.content-box {
  margin: 1em;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.profile__content {
  display: flex;
  flex-direction: column;
}

.profile__list {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
